body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("./images/bg1.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("./images/bg2.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("./images/bg3.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: wheat;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.section-green {
  background-color: lightgreen;
  color: gray;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: rgba(112, 128, 144, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}
#cw {
  position: fixed;
  z-index: 1;
  width: 3rem;
  margin: 10px;
}
